<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Tienda</title>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="indexSesion.html"><i class="fa-solid fa-paw"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="cuenta.html">Mi Cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tiendaSesion.html">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="carrito.html">Carrito</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Fin Navbar -->

  <!-- Contenido -->
  <div class="p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Tienda</h1>
    <p class="fs-5 text-muted">Encuentra todos los accesesorios que buscas para tus mascotas!</p>
  </div>

  <div class="album py-1 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="img/collarblanco.jpg" class="responsive" width="100%" height="225">
            <div class="card-body">
              <p class="card-text">Collar Martingale WhiteOwl Perro</p>
              <p class="card-text fw-bold">$30.250</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="productoSesion.html" class="btn btn-verde">Ver Más</a>
                </div>
                <small class="text-muted">Stock: 6</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
              <img src="img/arnesverdedog.jpg" class="responsive" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Arnes H Hawkins Stranger Things Perro</p>
                <p class="card-text fw-bold">$12.900</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="#" class="btn btn-verde">Ver Más</a>
                  </div>
                  <small class="text-muted">Stock: 2</small>
                </div>
              </div>
            </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="img/collarnegrocat.png" class="responsive" width="100%" height="225">
            <div class="card-body">
              <p class="card-text">Gotham Collar Gato</p>
              <p class="card-text fw-bold">$13.100</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#" class="btn btn-verde">Ver Más</a>
                </div>
                <small class="text-muted">Stock: 4</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="img/CorreaLedGato.jpg" class="responsive" width="100%" height="225">
            <div class="card-body">
              <p class="card-text">Arnés y Correa Pink Led Gato</p>
              <p class="card-text fw-bold">$19.500</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#" class="btn btn-verde">Ver Más</a>
                </div>
                <small class="text-muted">Stock: 4</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="img/Zeedog___Atlanta_Collar.png" class="responsive" width="100%" height="225">
            <div class="card-body">
              <p class="card-text">Atlanta Collar Perro</p>
              <p class="card-text fw-bold">$11.800</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#" class="btn btn-verde">Ver Más</a>
                </div>
                <small class="text-muted">Stock: 4</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="img/blocks 2_h_harness.jpg" class="responsive" width="100%" height="225">
            <div class="card-body">
              <p class="card-text">Blocks H-Harness Perro</p>
              <p class="card-text fw-bold">$13.900</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#" class="btn btn-verde">Ver Más</a>
                </div>
                <small class="text-muted">Stock: 2</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="img/atlanta 2_zeecat_leashandharness.jpg" class="responsive" width="100%" height="225">
            <div class="card-body">
              <p class="card-text">Atlanta Harness + Leash Set Gato</p>
              <p class="card-text fw-bold">$15.900</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#" class="btn btn-verde">Ver Más</a>
                </div>
                <small class="text-muted">Stock: 1</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Fin Contenido-->

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>